<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comet.keyboard"
    android:versionCode="23"
    android:versionName="@string/version" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <application
        android:name="com.comet.keyboard.App"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/ime_name" >
    </application>
</manifest>